@* <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"> *@
<div class="modal-header bg-info">
    <h5 class="modal-title text-light" id="exampleModalLongTitle">Assign Request</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>To Assign this request, Search and select another Physician.</p>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-12 mb-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Region</option>
                    @foreach (var region in Model)
                    {
                        <option value="@region.RegionId">@region.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="close" data-bs-dismiss="modal">Close</button>
    <button type="button" class="continue">Submit</button>
</div>
@*    </div>
    </div>
</div> *@

@* <script>
    $(document).ready(function () {
        $('#exampleModalCenter').modal('show');
    });
</script> *@