<div class="pendingTable" id="pendingTable">
    <div class="table-resposive">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Requestor</th>
                    <th scope="col">Physician Name</th>
                    <th scope="col">Date of Service</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
</div>