<div class="footerM">
    <div class="links-footer">
        <a href="#" class="link-footer">Terms Of Condition</a>
        <span class="link-footer">|</span>
        <a href="#" class="link-footer">Privacy Policy</a>
    </div>
</div>