
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="header px-5">
    <div class="logo">
        <img src="/image/logo.jpg" class="hlogo" width="80" height="80">
    </div>
    <div class="modes">
        <img src="/image/noun-dark-mode-4066359.svg" alt="" width="30" height="25">
    </div>
</div>